<html ng-app="socialdjApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset='utf-8'> 

		<script type="text/javascript" src="config.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="socialdjapp.js"></script>

		<script type="text/javascript" src="js/sdk-init.js"></script>
		<script type="text/javascript" src="js/shred.bundle.js"></script>
		<script type="text/javascript" src="js/swagger.js"></script>
		<script type="text/javascript" src="df-operations.js"></script>

		<!-- Socket.io -->
        <script src="http://192.168.0.17:4000/socket.io/socket.io.js"></script>

        <!-- Our app.js file -->
        <script type="text/javascript" src="js/socket.io-client.js"></script>

        <!-- MDL -->        
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.red-deep_orange.min.css" /> 
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		
		
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body id="session" ng-controller="SessionCtrl as session">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col">
				<h3>Now Playing</h3>
				<div id="dz-root"></div>
				<div id="player" style="width:300px;" align="center"></div>
				<div class="col-md-5">
					{{session.currentSong.name}}<br>
					{{session.currentSong.artist}}<br>
				</div>
				<div class="col-md-3">
					<img src="{{session.currentSong.thumb}}"/>
				</div>
				<div class="col-md-4">
					<button class="">Play/Pause</button>
					<button ng-click="session.skipSong()">Next</button>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--4-col">
				
					<h3>Playlist</h3>
					<div class="song" ng-repeat="song in session.songList | orderBy: '-votes'">
					<div class="mdl-grid mdl-card mdl-shadow--2dp">
						<div class="mdl-cell mdl-cell--2-col">
							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" ng-click="session.removeVote(song)"><i class="material-icons">remove</i></button>
						</div>
						<div class="mdl-cell mdl-cell--5-col song-info">							
							<p><i class="material-icons">music_note</i>{{song.name}}</p>
							<p><i class="material-icons">person</i>{{song.artist}}</p>
							<p><i class="material-icons">star</i>{{song.votes}}</p>
						</div>
						<div class="mdl-cell mdl-cell--3-col">
							<img style="width:100%;" src="{{song.thumb}}"/>						
						</div>
						<div class="mdl-cell mdl-cell--2-col">
							<button class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" ng-click="session.addVote(song)"><i class="material-icons">add</i></button>
						</div>
					</div>
				</div>
			</div>			

			<div class="mdl-cell mdl-cell--4-col">
				<h3>Add Song</h3>
				<input type="text" ng-model="query">
				<button ng-click="searchResult = session.searchSongs(query)">Search</button>
				<div class="song" ng-repeat="song in searchResult">

					<div class="mdl-grid mdl-card mdl-shadow--2dp">						
						<div class="mdl-cell mdl-cell--5-col song-info">							
							<p><i class="material-icons">music_note</i>{{song.name}}</p>
							<p><i class="material-icons">person</i>{{song.artist}}</p>							
						</div>
						<div class="mdl-cell mdl-cell--3-col">
							<img style="width:100%;" src="{{song.thumb}}"/>						
						</div>
						<div class="mdl-cell mdl-cell--2-col">
							<button class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" ng-click="session.addSong(song)"><i class="material-icons">add</i></button>
						</div>
					</div>				
				</div>							  
			</div>

		</div>

		
		<script src="https://cdns-files.deezer.com/js/min/dz.js"></script>
		<script type="text/javascript" src="player.js"></script>
	</body>
</html>
